.button-login {
  width: 100px;
  height: 40px;
  color: #fff;
  background: #34AADD;
  border: 1px solid #34AADD;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.button-login:hover {
  background: #6680AE;
  border-color: #6680AE;
}
.button-show {
  width: 205px;
  height: 50px;
  background: transparent;
  border: 1px solid #34AADD;
  border-radius: 5px;
  color: #34AADD;
  cursor: pointer;
  transition: 0.3s;
}
.button-show:hover {
  border-color: #6680AE;
  color: #6680AE;
}
