form {
    /* 
      position: relative;
      width: 300px;
      margin: 0 auto;
    }
    input, .button-search {
      border: none;
      outline: none;
      border-radius: 3px;
    }
    .header__input {
      max-width: 660px;
      width: 100%;
      height: 40px;
      background: #fafafa;
      padding: 9px 20px;
    }
    .button-search {
      height: 26px;
      width: 26px;
      position: absolute;
      top: 8px;
      right: 8px;
      background: transparent;
      cursor: pointer;
    }
    */
    .button-search:before {
      content: url(../img/search.svg);
    }